{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mt-5">BIENVENUE SUR LE BLOG DES GATEAUX</h1>
    <a href="{{ path('app_gateau') }}" class="btn btn-primary">VOIR LES GATEAUX</a>
{% endblock %}
